certifi==2019.6.16
chardet==3.0.4    
Click==7.0      
Flask==1.1.1    
gcloud==0.17.0   
googleapis-common-protos==1.6.0    
httplib2==0.19.0   
idna==2.8      
itsdangerous==1.1.0    
oauth2client==3.0.0 
protobuf==3.15.0    
pyasn1==0.4.6    
pyasn1-modules==0.2.6    
pycryptodome==3.8.2    
python-jwt==2.0.1    
requests==2.20.0   
requests-toolbelt==0.7.0    
rsa==4.7      
setuptools==40.8.0   
six==1.12.0   
sseclient==0.0.24   



